<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="/create">Create user</a>
    </div>

    <div class="table-container">
        <!-- <%= JSON.stringify(listUsers)%> -->
        <div class="title">List Users</div>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>
            <!-- Traditional Loop -->
            <!-- <% for (var i=0; i < listUsers.length; i++) { %>
                <tr>
                    <td>
                        <%= listUsers[i].id %>
                    </td>
                    <td>
                        <%= listUsers[i].email %>
                    </td>
                    <td>
                        <%= listUsers[i].name %>
                    </td>
                    <td>
                        <%= listUsers[i].city %>
                    </td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
                <% } %> -->

            <!-- ForEach -->
            <% listUsers.forEach(function(user,index) { %>
                <tr>
                    <td>
                        <%= user.id %> - <%= index %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <!-- Cách 1: dùng thẻ a - method: Get -->
                        <a href="/update/<%= user.id %>">Edit</a>
                        <!-- Cách 2: dùng thẻ button và thẻ form - method: Post -->
                        <form action="/delete-user/<%= user.id %>" method="POST">
                            <button>Delete</button>
                        </form>


                    </td>
                </tr>
                <% }); %>
        </table>
    </div>


</body>

</html>